.cartContainer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 20px;
}

.cartBasketLeft {
  position: relative;
  display: flex;
  width: 80%;
  height: 200px;
  background-color: lightgray;
  margin-right: 20px;
  border-radius: 15px;
  margin: 10px;
}

.cartBasketLeft__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.cartItemIcon {
  position: absolute;
  right: 40px;
  top: 20px;
  cursor: pointer;
}

.cartItemTitle {
  margin-top: 30px;
  margin-left: 40px;
  font-weight: bold;
}

.cartItemCategory {
  margin-left: 40px;
  font-weight: bold;
}

.cartItemQuantity {
  margin-left: 40px;
  font-weight: bold;
}

.cartItemDescription {
  margin-left: 40px;
  font-weight: bold;
}

.cartBasketRight {
  position: absolute;
  margin-top: 10px;
  margin-left: 83%;
  background-color: rgb(248, 26, 92);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 400px;
}

.cartBasketOrder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartBasketForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.cartBasketForm > input {
  border-radius: 10px;
  cursor: pointer;
  padding-left: 10px;
  outline: none;
  border: none;
  height: 30px;
  margin-top: 10px;
}

.cartTitle {
  margin-top: 20px;
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.cartItemImage {
  height: 200px;
  width: 200px;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.cartPrice {
  font-weight: bold;
  font-size: 25px;
  margin-top: 5px;
  text-align: center;
  color: #fff;
}

.cartItemPagar {
  align-items: center;
  margin: 10px;
  width: 70px;
}

.cartItemButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.cartNoItems {
  margin-top: 40px;
  text-align: center;
  font-size: 2em;
}

@media screen and (max-width: 650px) {
  .cartContainer {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .cartBasketLeft {
    justify-content: center;
    width: 100%;
    margin-left: -1px;
    height: 430px;
    flex-wrap: wrap;
  }

  .cartBasketRight {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-left: -2px;
    height: 420px;
  }

  .cartItemIcon {
    right: 10px;
  }

  .cartItemImage {
    margin-right: 35px;
  }
}
