.itemCount {
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter {
  display: flex;
  border: 2px solid rgb(248, 46, 92);
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 20px;
  font-size: 1.3rem;
  color: #222;
  font-weight: bold;
}

.btn-container {
  margin-left: 15px;
  width: 180px;
  display: flex;
  justify-content: space-evenly;
}

.btn-counter {
  margin-left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 28px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: rgb(248, 46, 92);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}

.btn-cart {
  margin-left: 10px;
  width: 160px;
  border-radius: 20px;
  background-color: rgb(248, 46, 92);
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.btn-finish {
  background-color: black;
  padding: 8px;
}
