.card {
  cursor: pointer;
  width: 260px;
  height: 500px;
  margin: 20px;
  border-radius: 5px;
}

.card-image-top {
  object-fit: cover;
  max-width: 100px;
}

.card-btn {
  margin-left: 64px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 300px;
  }
}
