.itemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.greeting {
  color: rgb(248, 26, 92);
}

@media screen and (max-width: 768px) {
  .greeting {
    font-size: 25px;
  }
}
